/**
  * Game styles
  */
.battleship-game {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  @include vertical-game {
    flex-direction: column;
  }

  .battlefield-panel {
    // 1:1 aspect ratio
    width: min(50vh, 50vw);
    height: min(50vh, 50vw);
    padding: 0 min(2.5vh, 2.5vw) min(2.5vh, 2.5vw) 0; // Using vh or cw to keep aspect ratio

    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-gap: 2px;
    background: $blue;

    .legend {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: min(2.5vh, 2.5vw); // Using vh or cw to keep aspect ratio
      color: $white;
    }

    .battlefield {
      width: 100%;
      height: 100%;
      background: $blue;

      grid-column: 2 / span 10;
      grid-row: 2 / span 10;

      display: grid;
      grid-template-columns: repeat(10, 1fr);

      .cell {
        border-right: 1px solid $white;
        border-bottom: 1px solid $white;
        // Add border to first row
        &[data-x='0'] {
          border-left: 1px solid $white;
        }
        // Add border to first column
        &[data-y='0'] {
          border-top: 1px solid $white;
        }

        // Ghost ship (CHEAT)
        &.ghost {
          background: rgba($red, 0.5);
        }

        // Hit
        &.hit {
          background: $red;
        }

        // Miss
        &.miss {
          background: $white;
        }

        // Sunk ship
        &.sunk {
          background: $red-dark;
        }
      }
    }
  }

  .combat-panel {
    width: 24rem;
    max-width: 30%;

    text-align: center;

    @include vertical-game {
      width: 100%;
      max-width: 36rem;
    }

    .input-group {
      display: flex;
      width: 100%;
      margin: 1.5rem 0;

      input {
        height: 2.5rem; // 3rem - padding
        width: 6rem;
        flex: 1;

        font-size: $text-large;
        line-height: 1;
        padding: 0.25rem 1rem;
        border-radius: 2rem 0 0 2rem;

        text-align: center;
        text-transform: uppercase;

        border: 2px solid $blue;
        &:focus {
          outline: none;
          border-color: $blue-dark;
        }
      }

      button {
        font-size: $text-large;
        line-height: 1;
        padding: 0.25rem 1rem;
        border-radius: 0 2rem 2rem 0;

        display: flex;
        align-items: center;
        justify-content: center;

        color: $white;
        background: $blue;
        border: none;
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {
          background: $blue-dark;
          outline: none;
        }

        img {
          margin-left: 0.5rem;
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }

    .legend {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      font-size: $text-medium;
      color: $grey;

      max-width: 16rem;
      margin: 2rem auto;

      .legend-item {
        display: flex;
        align-items: center;
        margin: 0.5rem 0;

        &__text {
          margin-right: 0.5rem;
        }
      }

      .legend-item__icon {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.6rem;
        border: 1px solid $grey;

        // Miss
        &--miss {
          background: $white;
        }
        
        // Hit
        &--hit {
          background: $red;
        }

        // Sunk ship
        &--sunk {
          background: $red-dark;
        }
      }
    }
  }
}
