/**
  * Variables
  */
// Colors
$black: #242424;
$grey: #888888;
$white: #ffffff;
$blue: #646cff;
$blue-dark: #535bf2;
$red: #ff6464;
$red-dark: #bb1111;

// Font
$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

// Font sizes
$text-small: 0.8rem;
$text-medium: 1rem;
$text-large: 1.5rem;
$text-extralarge: 3.2em;

// Font weights
$text-light: 400;
$text-normal: 500;
$text-bold: 700;
